@import '~include-media/dist/include-media';
@import '~open-color / open-color';

$red:red;
$orange:orange;
$yellow:yellow;
$green:green;
$blue:blue;
$indigo:indigo;
$violet:violet;

@mixin rectangle($size){
    $calculated:150px * $size;
    width:$calculated;
    height:60px;
}

.Test3 {
    clear: both;
    width: 100vw;
    background-color: $oc-gray-2;
    @include media('<768px') {          /*mobile : @media screen and (max-width:768) {} */
        background-color: $oc-gray-9;
    }
    @include media('<960px') {          /*tablet : @media screen and (max-width:959) and (min-width:768) {} */
        background-color: $oc-gray-6;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .box {
        clear:both;
        cursor:pointer;
        transition-duration: 2.5s;
        width: 5px;
        height: 60px;
        &.red{
            background-color: $red;
            transition-duration: 0s;
            @include rectangle(1)
        }
        &.orange{
            background-color: $orange;
            transition-duration: 0.5s;
            @include rectangle(2)
        }
        &.yellow{
            background-color: $yellow;
            transition-duration: 1s;
            @include rectangle(3)
        }
        &.green{
            background-color: $green;
            transition-duration: 1.5s;
            @include rectangle(4)
        }
        &.blue{
            background-color: $blue;
            transition-duration: 2s;
            @include rectangle(5)
        }
        &.indigo{
            background-color: $indigo;
            transition-duration: 2.5s;
            @include rectangle(6)
        }
        &.violet{
            background-color: $violet;
            transition-duration: 3s;
            @include rectangle(7)
        }
        
    }
}